<template name="dashboard">
    {{#if isInRole 'doctor'}}
    <div class="well">
        <h4>Doctor Configuration</h4>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 text-center">
                <button class="btn btn-default" id="patients">Edit Patients</button>
            </div>
            <div class="col-sm-4 text-center">
            </div>
        </div>
    </div>
    {{/if}}
    <div class="row">
        <h3>Surveys will appear here</h3>
        <div class="list-group">
            <!-- Code to get surveys will go here once theyre in collections-->
            {{#each getSurveys}} {{/each}}
        </div>
    </div>
</template>